{% extends "base.html" %}
{% block head %}
    <title>User Information</title>
    <script>
    $(document).ready(function(){
        $("input[name='user']").on("input",function(){
          $.ajax({
            type: "GET",
            url: "/checkName",
            data : {"name" : $(this).val()},
            success: function(d){
              d = JSON.parse(d);
              if(d['check'] == true){
                $("p").fadeIn();
              }
              else $("p").fadeOut();
            }
          });
        });
    });
    </script>
{% endblock %}
{% block content %}
    <div class="container h-100 d-flex justify-content-center">
      <div class="container my-auto">
        <div class="jumbotron form-control form-control-lg bg-white">
          <form class="text-center" method="post" action="/enter">
            <input type="text" placeholder="username" name="user">
            <input class="btn btn-primary" type="submit" value="Enter">
          </form>
          <p style="display:none; text-align:center;">The name is currently taken.</p>
        </div>
      </div>
    </div>
{% endblock %}
