{% extends "base.html" %}
{% block head %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port + location.pathname);
      socket.on('connect', function() {
          //socket.emit('my event', {data: 'I\'m connected!'});
      });
      var activeChat = "general";

      function escText(text){
        return text.replace(/[!"#$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, "\\\\$&");
      }

      function changeActive(){
        $(".chat").each(function(){
          var boxID = $(this).attr("id");
          if(boxID == activeChat){
            $(this).show();
          }
          else $(this).hide();
        });
      }

      $(document).ready(function(){
        $("nav").on("click","a.nav-link",function(e){ //instead of click, because I need to modify dynamically added elements
          e.preventDefault();
          //Choose the active tab
          activeChat = $(this).text();
          $("nav a.nav-link").removeClass("active");
          if(!$(this).hasClass("active")){
            $(this).addClass("active");
          }
          //Make sure that the correct chatbox is visible for user
          changeActive();
        });
        $("nav").on("click","a.l",function(e){
          e.preventDefault();
          var chatName = $(this).prev().text();
          var group = $(this).parent();
          if(activeChat == chatName){
            activeChat = group.prev().find("a.nav-link").text();
            $("[id='" + activeChat + "']").show();
            $(".nav-link:contains('" + activeChat + "')").addClass("active");
          }
          $("[id='" + chatName + "']").remove();
          group.remove();
          socket.emit('leave', {'room' : chatName});
        });
        $("#message").submit(function(e){
          e.preventDefault();
          if($("#m").val()){
            socket.emit('message', {'m' : $(this).find("#m").val(), 'room' : activeChat});
            $("#m").val("");
          }
        });
        $("#join_room").submit(function(e){
          e.preventDefault();
          if($("#room").val()){
            activeChat = $("#room").val();
            socket.emit('join', {"room" : $(this).find("#room").val()});
            $("#room").val("");
          }
        });
      });
      socket.on('userMessage', function(message) {
          var room = activeChat;
          $("[id='" + room + "']").append("<p>"+ message['user'] + ": " + message['m'] + "</p>");
          $("[id='" + room + "']").scrollTop($("[id='" + room + "']")[0].scrollHeight);
      });
      socket.on('message', function(message) {
          var room = message['room'];
          $("[id='" + room + "']").append("<p>"+ message['m'] + "</p>");
          $("[id='" + room + "']").scrollTop($("[id='" + room + "']")[0].scrollHeight);
      });
      //Edit needed
      socket.on('users_online', function(data) {
        var users = data['users'];
          $("[id='" + room + "']").append("<p>"+ message['m'] + "</p>");
          $("[id='" + room + "']").scrollTop($("[id='" + room + "']")[0].scrollHeight);
      });
      socket.on('room_check', function(data) {
          var rooms = data['rooms'];
          console.log(activeChat);
          $.each(rooms,function(index,value){
            if(!$("[id='" + value + "']").length){
              var newGroup = $('<div class="btn-group" style="width:100%;"></div>');
              var newLink = $('<a class="btn nav-link btn-block active" style="overflow:hidden;" href="#">' + value + '</a>'); // new link added
              var newXLink = $('<a class="btn btn-secondary l" href="#">X</a>');
              newGroup.append(newLink);
              newGroup.append(newXLink);
              var newChat = $('<div class="container form-control chat mx-auto" id ="' + value + '" style="height:50%; display:none; overflow-y:scroll"></div>');
              $("nav").append(newGroup);
              $("#chatboxes").append(newChat);
              return false;
            }
          });
          $("nav a.nav-link").removeClass("active");
          $("nav a.nav-link").each(function(){
            if($(this).text() == activeChat){
              $(this).addClass("active");
              return false;
            }
          });
          changeActive();
      });
  </script>
{% endblock %}
{% block content %}
  <div class="row">
    <!--Side Navbar-->
    <div class="col-md-2">
      <nav class="nav nav-pills ml-2">
        <h3 class="nav-link text-center btn-block" style="border-bottom: 1px solid black">Current Rooms</h3>
        <div class="btn-group" style="width:100%;">
          <a class="btn nav-link btn-block active" href="#">general</a>
          <a class="btn btn-secondary l" href="#">X</a>
        </div>
      </nav>
    </div>


    <div class="col-md-8">
      <div class= "container">
        <h1 class="display-1 text-center bg-primary rounded mt-1 text-white"><b>ChatwithMatt</b></h1>
        <div id="chatboxes">
          <div class="container form-control chat mx-auto" id ="general" style="height:50%; overflow-y:scroll"></div>
          <div class="container form-control chat" id ="display2" style="height:50%; display:none; overflow-y:scroll;"></div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <form class="input-group my-1" id="join_room">
                <span class="input-group-addon">Room</span>
                <input class="form-control" type="text" id="room" autofocus="autofocus" placeholder="Room Name">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-outline-primary" id="join_room">Join</button>
                </span>
            </form>
          </div>
        </div>


        <div class= "container fixed-bottom">
          <form class="input-group" id="message">
            <span class="input-group-addon">Message</span>
            <input class="form-control" type="text" id="m" autofocus="autofocus" placeholder="Enter your message here...">
            <button type="submit" class="btn btn-outline-primary" id="Send">Submit</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-2">
      <nav class="nav nav-pills mr-2">
        <h3 class="nav-link text-center btn-block" style="border-bottom: 1px solid black">Users Online</h3>
        <div class="btn-group" style="width:100%;">
          <a class="btn nav-link btn-block active" href="#">Raymond Wong</a>
          <a class="messageUser btn btn-secondary">
            <i class="fa fa-commenting" style="font-size:26px" aria-hidden="true"></i>
          </a>
        </div>
      </nav>
    </div>

  </div>
{% endblock %}
